@import "../utils/draggable_window/draggable_window.less";
@import "../utils/flame_graph/flame_graph.less";

@import "../ui_class/login_panel.less";
@import "../ui_class/bag_panel.less";
@import "../ui_class/shopPanel/equip_shop_panel.less";

.root {
    width: 100%;
    height: 100%;
}

.QRCode {
    horizontal-align: right;
    vertical-align: bottom;
    margin-bottom: 400px;
    margin-right: 100px;
    background-color: #ffffff;
    opacity: 0.6;

    &:hover {
        opacity: 1; 
    }
    &:active {
        opacity: 0.8;
    }
}

.NormalPanel {
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.NormalButton {
    background-color: gradient(linear, 0% 100%, 100% 100%, from(#373737), to(#2a2a2a));
    .ButtonText {
        width: 80%;
        height: 80%;
        text-align: center;
        horizontal-align: center;
        vertical-align: center;
    }
}

.ListPanel {
    width: 95%;
    height: 95%;
    vertical-align: center;
    horizontal-align: center;
    background-color: gradient(linear, 0% 100%, 100% 100%, from(rgb(73, 73, 73)), to(#9b9898));
    flow-children: right-wrap;
    overflow: scroll;
}

.CloseBtn {
    horizontal-align: right;
    vertical-align: top;
    width: 60px;
    height: 60px;
    z-index: 100;
    background-color: gradient(linear, 0% 100%, 100% 100%, from(rgb(145, 138, 138)), to(#fd0505));
    &:hover{
        opacity: 0.9;
    }
    &:active{
        opacity: 0.7;
    }
}

.TopInfoPanel {
    horizontal-align: center;
    background-color: gradient(linear, 50% 100%, 100% 50%, from(#838181), to(#837474));
    height: 12%;
    min-height: 120px;
    width: 60%;
}
